@model SeguriGasesERP.Models.Venta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Venta</legend>

    <div class="display-label">ClaveCFD</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClaveCFD)
    </div>

    
    <div class="display-label">Moneda</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Moneda)
    </div>

   

    <div class="display-label">Subtotal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subtotal)
    </div>

    <div class="display-label">Total</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>

    <div class="display-label">ImporteLetra</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImporteLetra)
    </div>

    <div class="display-label">TotalImpuestosTrasladados</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TotalImpuestosTrasladados)
    </div>

    <div class="display-label">FechaVenta</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaVenta)
    </div>

    <div class="display-label">Liquidado</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Liquidado)
    </div>

    <div class="display-label">Sucursal</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sucursal.Nombre)
    </div>

    <div class="display-label">Cliente</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cliente.NombreCliente)
    </div>


    <div class="display-label">Por:</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.usuario)
    </div>
    <table>
        <tr>
            <th>Clave</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Venta</th>
        </tr>
    @foreach (var item in Model.ProductosVenta)
    {
        <tr>
            <td>@item.Producto.Clave</td>
            <td>@item.Producto.Nombre</td>
            <td>@item.Count</td>
            <td>@item.PrecioVenta</td>
        </tr>
    }
    </table>
    
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
